global
    log stdout format raw local0
    maxconn 2000

defaults
    log     global
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s

# ---------------- Frontends ----------------
# Schreibzugriffe auf den Leader
frontend postgres_write_front
    bind *:5000
    default_backend postgres_write

# Lesezugriffe auf Replikate
frontend postgres_read_front
    bind *:5001
    default_backend postgres_read

# ---------------- Backends ----------------
# Leader-Backend für Schreibzugriffe
backend postgres_write
    mode tcp
    option tcp-check
    server patroni1 patroni1:5432 check
    server patroni2 patroni2:5432 check
    server patroni3 patroni3:5432 check
    server patroni4 patroni4:5432 check

# Replica-Backend für Lesezugriffe
backend postgres_read
    mode tcp
    option tcp-check
    server patroni1 patroni1:5432 check
    server patroni2 patroni2:5432 check
    server patroni3 patroni3:5432 check
    server patroni4 patroni4:5432 check
